#
# property container for wurtzite material
# syntax:<name>;{optional,mandatory};min_error;max_error;min_warning;max_warning;default;
# if value lies outside error boundary, an error is issued
# if value lies outside warning boundary, a warning is issued
#

#####################################################
# BAND PARAMETERS
#####################################################

conduction_band_edge;optional;-1.0e10;1.0e10;-1000;1000;
valence_band_edge;optional;-20;3;-10;2;

bandgap;optional;0.01;7;0.3;3;
bandgap_0K;optional;0.01;20;0.2;8;
bandgap_300K;optional;0.01;7;0.3;3;
electron_affinity;optional;-1e100;1e100;-1e100;1e100;
bandgap_alpha;optional;-1e100;1e100;-1e99;1e99;
bandgap_beta;optional;-1e100;1e100;-1e99;1e99;

electron_effective_mass;optional;0.01;10;0.02;1;
electron_effective_mass_transverse;optional;0.01;10;0.02;1;
electron_effective_mass_c_plane;optional;0.01;10;0.02;1;
electron_effective_mass_a_plane;optional;0.01;10;0.02;1;
# me is different along [0001] than in a-plane. so c_plane is m_z and a_plane is m_tr

hole_effective_mass;optional;0;10;0;10;
hole_effective_mass_A1;optional;-20;0;-10;-2;
hole_effective_mass_A2;optional;-10;0;-2;0;
hole_effective_mass_A3;optional;0.0;20;2.0;10;
hole_effective_mass_A4;optional;-10;0;-8;-0.5;
hole_effective_mass_A5;optional;-20;0;-8;-0.5;
hole_effective_mass_A6;optional;-20;0;-10;-0.5;
hole_effective_mass_A5_minus;optional;-40;40;-20;20;
hole_effective_mass_A6_minus;optional;-40;40;-20;20;
# see ren et. a. appl. phys. lett. 74 (1999), 1119; units: eV/nm
hole_spin_orbit_A7;optional;0;1000;0;200;

# for zincblende crystallization
luttinger_parameter_1;optional;-1e100;1e100;-1e100;1e100;
luttinger_parameter_2;optional;-1e100;1e100;-1e100;1e100;
luttinger_parameter_3;optional;-1e100;1e100;-1e100;1e100;
optical_matrix_element;optional;-1e100;1e100;-1e100;1e100;
spin_orbit_splitting;optional;-1e100;1e100;-1e100;1e100;
strain_potential_ac;optional;-1e50;1e50;-1e49;1e49;
strain_potential_av;optional;-1e50;1e50;-1e49;1e49;
strain_potential_b;optional;-1e50;1e50;-1e49;1e49;
strain_potential_d;optional;-1e50;1e50;-1e49;1e49;

# optical momentum matrix element for wurtzite 8x8 model
# see chuang prb 54 (1996) 2491, eq. (18)
# attention, this one here differs from the zinc blende input.
# its the expression in formula (18). if you don't set it in your material file, its calculated with (18)
optical_momentum_matrix_element_P1;optional;-10;100;0;100;
optical_momentum_matrix_element_P2;optional;-10;100;0;100;
spin_orbit_split_delta_1;optional;-10;10;-1;1;
spin_orbit_split_delta_2;optional;-10;10;-1;1;
spin_orbit_split_delta_3;optional;-10;10;-1;1;

strain_potential_D1;optional;-100;100;-25;0;
strain_potential_D2;optional;-100;100;1;9;
strain_potential_D3;optional;-100;100;5;10;
strain_potential_D4;optional;-100;100;-6;-2;
strain_potential_D5;optional;-100;100;-6;-2;
strain_potential_D6;optional;-100;100;-6;-2;

# the conduction band strain potential proportional to ezz strain
# you can calculate the potential from the hydrostatic bandgap potential a1 by: (a1 - (D1 + D3)) = ac_zz
strain_potential_ac_zz;optional;-40;40;-15;15;
# for the exx/eyy component, you have a2: (a2 - (D2 + D4)) = ac_xxyy
strain_potential_ac_xxyy;optional;-40;40;-15;15;

piezo_coefficient_e31;optional;-100;100;-100;100;
piezo_coefficient_e33;optional;-100;100;-100;100;
piezo_coefficient_e15;optional;-100;100;-100;100;

spontaneous_polarization;optional;-100;100;-100;100;0;

# don't care about units. strain is unitless. 
elastic_constant_C11;optional;1e-50;1e50;1e-49;1e49;
elastic_constant_C12;optional;1e-50;1e50;1e-49;1e49;
elastic_constant_C13;optional;1e-50;1e50;1e-49;1e49;
elastic_constant_C33;optional;1e-50;1e50;1e-49;1e49;
elastic_constant_C44;optional;1e-50;1e50;1e-49;1e49;
elastic_constant_C66;optional;1e-50;1e50;1e-49;1e49;

# nanometers please (but actually its also unitless) 
#<ss> is rather angstrom 
lattice_constant_a;optional;0.1;100;2.0;10;
lattice_constant_c;optional;0.1;100;2.0;10;

#####################################################
# MOBILITY, DIELECTRIC CONSTANT, DOPING
#####################################################
static_dielectric_constant;optional;0.5;1e10;1;1e2;
optic_dielectric_constant;optional;0.5;1e10;1;1e2;
static_dielectric_constant_perp;optional;0.5;1e10;1;1e2;
static_dielectric_constant_par;optional;0.5;1e10;1;1e2;
optic_dielectric_constant_perp;optional;0.5;1e10;1;1e2;
optic_dielectric_constant_par;optional;0.5;1e10;1;1e2;
electrostatic_charge;optional;-1e20;1e20;-1e5;1e5;

donor_ionization_energy;optional;-100;100;-10;10;
donor_degeneracy;optional;0;100;0;10;
acceptor_ionization_energy;optional;-100;100;-10;10;
acceptor_degeneracy;optional;0;100;0;10;

electron_mobility;optional;0;1e10;0;1e4;
hole_mobility;optional;0;1e10;0;1e4;

# Arora mobility model
mobility_arora_Amin_e;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphamin_e;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_Ad_e;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphad_e;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_AN_e;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphaN_e;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_Aa_e;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphaa_e;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_Amin_h;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphamin_h;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_Ad_h;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphad_h;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_AN_h;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphaN_h;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_Aa_h;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphaa_h;optional;-1e100;1e100;-1e100;1e100;

#####################################################
# RECOMBINATION-GENERATION
#####################################################

radiative_coefficient;optional;0;1e-10;0;1e-10;
radiative_coefficient_2d;optional;0;1e-2;0;1e-2;
radiative_coefficient_1d;optional;0;1e6;0;1e6;

srh_electron_lifetime;optional;0;1e99;0;1e-2;
srh_hole_lifetime;optional;0;1e99;0;1e-2;
srh_electron_lifetime_wire;optional;0;1e99;0;1e-2;
srh_hole_lifetime_wire;optional;0;1e99;0;1e-2;
srh_taumin;optional;-1e99;1e99;-1e99;1e99;
srh_Nref;optional;-1e99;1e99;-1e99;1e99;
srh_Talpha;optional;-1e99;1e99;-1e99;1e99;
srh_gamma;optional;-1e99;1e99;-1e99;1e99;

auger_electron_coefficient;optional;0;1e-20;0;1e-20;
auger_electron_coefficient_2d;optional;0;1e-4;0;1e-4;
auger_electron_coefficient_1d;optional;0;1e12;0;1e12;
auger_hole_coefficient;optional;0;1e-20;0;1e-20;
auger_hole_coefficient_2d;optional;0;1e-4;0;1e-4;
auger_hole_coefficient_1d;optional;0;1e12;0;1e12;
gamma;optional;0;1e100;0;1e10;

# Overstraeten-deMan avalanche generation model
avalanche_overstraeten_Enull;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_alow_e;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_alow_h;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_ahigh_e;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_ahigh_h;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_blow_e;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_blow_h;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_bhigh_e;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_bhigh_h;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_hbaromega;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_kTnull;optional;-1e100;1e100;-1e100;1e100;

intrinsic_density;optional;1e-30;1e40;1e0;1e30;
intrinsic_density_2d;optional;1e-38;1e32;1e-8;1e22;
intrinsic_density_1d;optional;1e-46;1e24;1e-16;1e14;

#####################################################
# OTHER PARAMETERS
#####################################################

LO_phonon_energy;optional;1e-38;1e32;1e-8;1e22;
TO_phonon_energy;optional;1e-38;1e32;1e-8;1e22;

mass_density;optional;-1e100;1e100;-1e100;1e100;
longitudinal_acoustic_velocity;optional;-1e100;1e100;-1e100;1e100;
electron_acoustic_deformation_potential_D1;optional;-1e100;1e100;-1e100;1e100;
electron_acoustic_deformation_potential_D2;optional;-1e100;1e100;-1e100;1e100;
hole_acoustic_deformation_potential;optional;-1e100;1e100;-1e100;1e100; 


