# property container for zincblende ternary materials
#
# A(x) = A(0) + A_x * x + A_x2 * x^2
#
# syntax:<name>;{optional,mandatory};min_error;max_error;min_warning;max_warning;default;
# if value lies outside error boundary, an error is issued
# if value lies outside warning boundary, a warning is issued
#

# ===================================================================
# SECOND ORDER CORRECTIONS
# ===================================================================

#####################################################
# BAND PARAMETERS
#####################################################

bandgap_bowing;optional;-1e100;1e100;-1e100;1e100;
bandgap_bowing_x;optional;-1e100;1e100;-1e100;1e100;

conduction_band_edge_x2;optional;-1e100;1e100;-1e100;1e100;
valence_band_edge_x2;optional;-1e100;1e100;-1e100;1e100;

bandgap_0K_x2;optional;-1e100;1e100;-1e100;1e100;
bandgap_300K_x2;optional;-1e100;1e100;-1e100;1e100;
bandgap_x2;optional;-1e100;1e100;-1e100;1e100;
electron_affinity_x2;optional;-1e100;1e100;-1e100;1e100;
bandgap_alpha_x2;optional;-1e100;1e100;-1e99;1e99;
bandgap_beta_x2;optional;-1e100;1e100;-1e99;1e99;

electron_effective_mass_x2;mandatory;-1e100;1e100;-1e100;1e100;
electron_kp8x8_s_parameter_x2;optional;-1e100;1e100;-1e100;1e100;

hole_effective_mass_x2;optional;-1e100;1e100;-1e100;1e100;
hole_effective_mass_z_x2;optional;-1e100;1e100;-1e100;1e100;
hole_effective_mass_tr_x2;optional;-1e100;1e100;-1e100;1e100;

luttinger_parameter_1_x2;optional;-1e100;1e100;-1e100;1e100;
luttinger_parameter_2_x2;optional;-1e100;1e100;-1e100;1e100;
luttinger_parameter_3_x2;optional;-1e100;1e100;-1e100;1e100;
optical_matrix_element_x2;optional;-1e100;1e100;-1e100;1e100;
spin_orbit_splitting_x2;optional;-1e100;1e100;-1e100;1e100;

strain_potential_ac_x2;optional;-100.0;100.0;-20.0;0.0;
strain_potential_av_x2;optional;-100.0;100.0;0.0;6.0;
strain_potential_b_x2;optional;-100.0;100.0;-10.0;0.0;
strain_potential_d_x2;optional;-100.0;100.0;-10.0;0.0;

elastic_constant_C11_x2;optional;1e-50;1e50;1e-49;1e49;
elastic_constant_C12_x2;optional;1e-50;1e50;1e-49;1e49;
elastic_constant_C44_x2;optional;1e-50;1e50;1e-49;1e49;

lattice_constant_x2;optional;-1e100;1e100;-1e100;1e100;

#####################################################
# MOBILITY, DIELECTRIC CONSTANT, DOPING
#####################################################

static_dielectric_constant_x2;optional;-1e100;1e100;-1e100;1e100;
static_dielectric_constant_T_x2;optional;-1e100;1e100;-1e100;1e100;
optic_dielectric_constant_x2;optional;-1e100;1e100;-1e100;1e100;
electrostatic_charge_x2;optional;-1e100;1e100;-1e100;1e100;

donor_ionization_energy_x2;optional;-1e100;1e100;-1e100;1e100;
donor_degeneracy_x2;optional;-1e100;1e100;-1e100;1e100;
acceptor_ionization_energy_x2;optional;-1e100;1e100;-1e100;1e100;
acceptor_degeneracy_x2;optional;-1e100;1e100;-1e100;1e100;

electron_mobility_x2;optional;-1e100;1e100;-1e100;1e100;
hole_mobility_x2;optional;-1e100;1e100;-1e100;1e100;

# Arora mobility model
mobility_arora_Amin_e_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphamin_e_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_Ad_e_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphad_e_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_AN_e_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphaN_e_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_Aa_e_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphaa_e_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_Amin_h_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphamin_h_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_Ad_h_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphad_h_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_AN_h_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphaN_h_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_Aa_h_x2;optional;-1e100;1e100;-1e100;1e100;
mobility_arora_alphaa_h_x2;optional;-1e100;1e100;-1e100;1e100;

#####################################################
# RECOMBINATION-GENERATION
#####################################################

radiative_coefficient_x2;optional;-1e100;1e100;-1e100;1e100;
radiative_coefficient_2d_x2;optional;-1e100;1e100;-1e100;1e100;
radiative_coefficient_1d_x2;optional;-1e100;1e100;-1e100;1e100;

srh_electron_lifetime_x2;optional;-1e100;1e100;-1e100;1e100;
srh_hole_lifetime_x2;optional;-1e100;1e100;-1e100;1e100;
srh_taumin_x2;optional;-1e99;1e99;-1e99;1e99;
srh_Nref_x2;optional;-1e99;1e99;-1e99;1e99;
srh_Talpha_x2;optional;-1e99;1e99;-1e99;1e99;
srh_gamma_x2;optional;-1e99;1e99;-1e99;1e99;

auger_electron_coefficient_x2;optional;-1e100;1e100;-1e100;1e100;
auger_electron_coefficient_2d_x2;optional;-1e100;1e100;-1e100;1e100;
auger_electron_coefficient_1d_x2;optional;-1e100;1e100;-1e100;1e100;
auger_hole_coefficient_x2;optional;-1e100;1e100;-1e100;1e100;
auger_hole_coefficient_2d_x2;optional;-1e100;1e100;-1e100;1e100;
auger_hole_coefficient_1d_x2;optional;-1e100;1e100;-1e100;1e100;

gamma_x2;optional;-1e100;1e100;-1e100;1e100;

# Overstraeten-deMan avalanche generation model
avalanche_overstraeten_Enull_x2;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_alow_e_x2;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_alow_h_x2;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_ahigh_e_x2;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_ahigh_h_x2;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_blow_e_x2;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_blow_h_x2;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_bhigh_e_x2;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_bhigh_h_x2;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_hbaromega_x2;optional;-1e100;1e100;-1e100;1e100;
avalanche_overstraeten_kTnull_x2;optional;-1e100;1e100;-1e100;1e100;

intrinsic_density_x2;optional;-1e100;1e100;-1e100;1e100;
intrinsic_density_2d_x2;optional;-1e100;1e100;-1e100;1e100;
intrinsic_density_1d_x2;optional;-1e100;1e100;-1e100;1e100;

#####################################################
# OTHER PARAMETERS
#####################################################

# optical phonon scattering
LO_phonon_energy_x2;optional;-1e100;1e100;-1e100;1e100;
TO_phonon_energy_x2;optional;-1e100;1e100;-1e100;1e100;

# acoustic phonon scattering
mass_density_x2;optional;-1e100;1e100;-1e100;1e100;
longitudinal_acoustic_velocity_x2;optional;-1e100;1e100;-1e100;1e100;
electron_acoustic_deformation_potential_x2;optional;-1e100;1e100;-1e100;1e100;
hole_acoustic_deformation_potential_x2;optional;-1e100;1e100;-1e100;1e100;
